[Desktop Entry]
Encoding=UTF-8
Name=Pprfnk
Comment=Pprfnk P2P Cryptocurrency
Comment[fr]=Pprfnk, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pprfnk, eşten eşe kriptografik sanal para birimi
Exec=pprfnk-qt %u
Terminal=false
Type=Application
Icon=pprfnk128
MimeType=x-scheme-handler/pprfnk;
Categories=Office;Finance;
